* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cacddb;
}
header {
    background-color: #333;
    color: #e8e9db;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #ada6a6;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container {
    width: 80%; 
    margin: 40 auto; 
    padding: 20px;
}   
.full {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(90, 177, 188);
    margin: 0px; 
    
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color: rgb(41, 157, 173, 0.014);
    padding: 29px;
 
}
.right {
    position: initial;
    background-color: rgb(41, 157, 173);
    padding: 29px;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title, 
.Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
}
.h2 {
    background-color: rgb(24, 67, 92);
}
.job, .degree {
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin-bottom: 5px;
}